.columnwrapper {
	 margin-top : 2%;
    width: 30%;
    float : left;
    margin-left : 3%;
    border: 1px solid #CC0000;
    display:table-cell;
    vertical-align:middle;
    text-align:center
}

.columnwrapper p {
	text-align : left;
	font-size: 16  px;
}