#inputs{
	align : center;
}

 
  .searchbox {
    background:url(../images/icons/search.png) no-repeat 4px 4px;  
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 2px 0px;  
    border-color: #E8E8E8; 
    padding-left: 25px;
    color:#FFFFFF;
    outline:0; 
  } 


#inputs p#usernameP{color:#252525;font-weight:bold;font-size:14px;padding-top:0;padding-bottom:18px;}

p {
    padding: 10px;
}

.errormessage {
    padding-bottom: 10px;
    color : #522675;
}

#edsolstice-index-headerwrap {
    width: 95%;
    margin: 0 auto;
}

#header {
    height: 100px;
    background: #181818;
}

#header p{
font-family: 'Colonna MT', serif;
line-height: 1em;
color: #FFFFFF; /* #0489B1 */
font-weight:bold;
font-size: 74px;
text-align : left;
}

#inputs input {
	border: 1px solid #bababa;
	margin-bottom: 15px;
	background-color: transparent;
	font-size: 107% !important;
	padding: 5px;
	height: 20px;
	width: 158px;
	border-style: solid;  
    border-width: 0px 0px 2px 0px;  
}

#inputs input:focus {
	border: 1px solid #783ba8;
}

.hreflinks {
	margin-bottom: 20px;
}
.hreflinks a {
	font-size: 107%;
	color: #046fc9;
}
.hreflinks a:hover {
	text-decoration: none;
}

.edsoltice-button {
	border: 0 none;
	color: #ffffff;
	height: 35px;
	width: 200px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.purple-bg {
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2x;
	background-color: #6E329D;
	background-image: linear-gradient(center, #6E329D 0%, #6E329D 100%);
	background-image: -moz-linear-gradient(left center , #6E329D 0%, #6E329D 100%);
	background-image: -o-linear-gradient(center, #6E329D 0%, #6E329D 100%);
	background-image: -webkit-linear-gradient(center, #6E329D 0%, #6E329D 100%);
	background-image: -ms-linear-gradient(center, #6E329D 0%, #6E329D 100%);
	border: 1px solid #522675;
}



.borderedImage{
	
}
.borderedImage:hover {
  width : 70px;
  height : 70px;  
  /*border: solid 2px black;*/
  
}

