@import url("menu.css");
@import url("reset.css");
@import url("login.css");
@import url("common.css");
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#0489B1;
    background: #FFFFFF;    
}

p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    height : 80%;
}

#headerseperator{
	  height: 10px;
    background: #2E2E2E;
}

#navigationwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 30px;
    background: #f96e5b;
    border: 1px solid #3eabeb;
    margin: 5px;
}

#contentliquid {
    float: left;
    width: 100%;
}

#contentwrap {
    height:80%;
    float: left;
    width: 65%;
}

#content {
    background: #FFFFFF;
    margin: 5px;
}

#rightcolumnwrap {
    width: 25%;
    margin-left: -27%;
    height:90px;
    float: left;    
}


#rightcolumn {
    background: #F0F0F0;
    height : 395px;    
    margin: 5px;
}

