@import url("menu.css");
@import url("reset.css");
@import url("login.css");
@import url("common.css");
@import url("imageslider.css");
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#0489B1;
    background: #FFFFFF;    
}

p {
    padding: 10px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    height : 80%;
}

#edsolstice-index-headerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#header {
    height: 100px;
    background: #FFFFFF;
}

#headerseperator{
	  height: 10px;
    background: #2E2E2E;
}

#header p{
font-family: 'Colonna MT', serif;
line-height: 1em;
color: #0489B1;
font-weight:bold;
font-size: 74px;
text-align : center;
}

#navigationwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 30px;
    background: #f96e5b;
    border: 1px solid #3eabeb;
    margin: 5px;
}

#contentliquid {
    float: left;
    width: 100%;
}

#contentwrap {
    height:80%;
    float: left;
    width: 65%;
}

#content {
    background: #FFFFFF;
    margin: 5px;
}

#rightcolumnwrap {
    width: 25%;
    margin-left: -27%;
    height:90px;
    float: left;    
}


#rightcolumn {
    background: #F0F0F0;
    height : 395px;    
    margin: 5px;
}

#footerwrap {
    width: 60%;
    align : center;
    margin: 0 auto;
    position:fixed;
    background: #424242;
    left:20%;
    bottom:0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
}

#footer {
	  padding-left : 20%;
    height: 50px;
    align : center;    
	  margin: 5px;
}

