@import url("menu.css");
@import url("tabs.css");

body { 
	background: #1C1C1C;
	
}
#student-header {
    width: 100%;
    height : 150px;
    display:block;
    position: relative;
}

.header-tile{
  	position: relative;
  	display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    height : 150px;
    top : 10px;
}

.student-header-img{
    width: 150px;
    
}
.student-header-rightside{
    width: 250px;
    float : right;
}

.student-header-img img
{
  max-width:90%; 
  max-height:90%;
  -moz-box-shadow: 5px 5px 5px #888;
-webkit-box-shadow: 5px 5px 5px #888;
box-shadow: 5px 5px 5px #888;
}

.student-main-content{
	display: inline-block;
	width : 79%;
	margin-right: 1%;
}

.personal-details{
	width : 350px;
	padding-left : 10px;
	vertical-align : top;
}
.personal-details h{
  color : #088A4B;
  font-size: 28px;
  font-family: 'Courgette', serif;
  line-height: 1em;
  text-shadow:1px 1px 1px #ffffff;
  font-weight: bold;
}

.personal-details h1{
  color : #FFFFFF;
  font-size: 18px;
  font-family: 'Courgette', serif;
  line-height: 0.3em;
}

.personal-details h2{
  color : #FFFFFF;
  font-size: 16px;
  font-family: 'Courgette', serif;
  line-height: 0.3em;
}

#student-right-panel{
  
    width: 20%;
    height : 500px;
    float : right;
    background: #D8D8D8;
}






















#student-left-panel{
    width: 20%;
    display:block;
    height : 540px;
    float : left;
    margin-top : 1px;
    background: #FFFFFF;
}



/* vertical Menu */
#cssmenu {
  background: #333;
  list-style: none;
  margin-left: 5%;
  padding: 0;
  width: 90%;
}
#cssmenu li {
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}
#cssmenu a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu a:hover {
  background: #2580a2 url("../images/verticalmenu/hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}